<div class="pt-5">
  <div class="bg-white container p-1 rounded ">
    <strong style="color: #3f51b5">
      <em>
        Below is text with blanks. Click on each blank, a list of choices will appear. Select the appropriate answer for each blank.
      </em>
    </strong>
  </div>

  <div class="passage container p-2 rounded">
    The national park movement began in the United States in 1870 when a team of explorer suggested
    that part of the Yellow River region be
    <select>
      <option></option>
      <option>set in</option>
      <option>set up</option>
      <option>set aside</option>
      <option>set by</option>
    </select>
    in order to protect its geothermal
    <select>
      <option></option>
      <option>characters</option>
      <option>tokens</option>
      <option>traits</option>
      <option>features</option>
    </select>
    , wildlife, forests, and
    <select>
      <option></option>
      <option>optimal</option>
      <option>exceptional</option>
      <option>breathless</option>
      <option>dominant</option>
    </select>
    scenery for the benefit of future generations.
    Congress
    <select>
      <option></option>
      <option>retrieved</option>
      <option>designated</option>
      <option>responded</option>
      <option>countered</option>
    </select>
    by creating Yellowstone National park, the world’s first, in 1872. The idea proved
    <select>
      <option></option>
      <option>widespread</option>
      <option>banal</option>
      <option>prevailing</option>
      <option>popular</option>
    </select>
    , and the number of national parks in this country grew rapidly, new parks being set up by presidential
    <select>
      <option></option>
      <option>constitution</option>
      <option>analogy</option>
      <option>dissemination</option>
      <option>proclamation</option>
    </select>.
  </div>
  <button class="btn btn-success mt-2">Submit</button>
</div>

