<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-dark blue-gradient">
  <a class="navbar-brand mx-auto"
    [routerLink]="['/']"
    style="font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 28px;" >
    Atlantis College of Management
  </a>
</nav>

<div style="text-align:center">
  <!-- <a (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording"> Start Recording </a>
    <a (click)="stopRecording()" class="btn btn-danger" *ngIf="recording"> Stop Recording </a>
    <div class="clearfix"></div>
    <audio controls="" *ngIf="url">
        <source [src]="sanitize(url)" type="audio/wav">
    </audio> -->
    <div  class="main-content">
      <router-outlet></router-outlet>
    </div>
    <!-- Grid row -->
    <div class="nav-panel row justify-content-center">

      <!-- Grid column -->
      <div class="col-md-5">

        <ul class="nav blue-gradient lighten-3 py-2 font-weight-bold z-depth-1 justify-content-around rounded">

          <li class="nav-item dropup">
            <a class="nav-link white-text dropdown-toggle"
               id="navbarDropdownMenuLink"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false"
               [ngClass]="{'router-link-active': pathList.indexOf('speaking') !== -1}"
               >
               Speaking</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item"
                 routerLink = "/speaking/read-aloud"
                 routerLinkActive="router-link-active"
                 [routerLinkActiveOptions]="{exact: true}"
                 >Read Aloud</a>
                <a class="dropdown-item" href="#">Multiple Choice, Multiple Answer</a>
                <a class="dropdown-item" href="#">Reorder Paragraph</a>
                <a class="dropdown-item" href="#">Drag & Drop</a>
                <a class="dropdown-item" href="#">Multiple Choice, Single Answer</a>
              </div>
          </li>

          <li class="nav-item">
            <a class="nav-link white-text"
            [routerLink]="['/writing']" routerLinkActive="router-link-active"
            href="#!">Writing</a>
          </li>


          <li class="nav-item dropup">
            <a class="nav-link white-text dropdown-toggle"
               id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false"
               [ngClass]="{'router-link-active': pathList.indexOf('reading') !== -1}"
               routerLinkActive="router-link-active">Reading</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Fill In The Blanks</a>
                <a class="dropdown-item" href="#">Multiple Choice, Multiple Answer</a>
                <a class="dropdown-item" href="#">Reorder Paragraph</a>
                <a class="dropdown-item" href="#">Drag & Drop</a>
                <a class="dropdown-item" href="#">Multiple Choice, Single Answer</a>
              </div>
          </li>


          <li class="nav-item dropup">
              <a class="nav-link white-text dropdown-toggle"
              id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"
              [ngClass]="{'router-link-active': pathList.indexOf('listening') !== -1}"
            routerLinkActive="router-link-active">Listening</a>
           <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="#">Fill In The Blanks</a>
               <a class="dropdown-item" href="#">Multiple Choice, Multiple Answer</a>
               <a class="dropdown-item" href="#">Reorder Paragraph</a>
               <a class="dropdown-item" href="#">Drag & Drop</a>
               <a class="dropdown-item" href="#">Multiple Choice, Single Answer</a>
             </div>
          </li>
        </ul>

      </div>
    </div>

</div>
