.main-content{
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-panel{
  position: fixed;
  bottom: 5px;
  width: 100%;
}
.router-link-active{
  background: white;
  color: dodgerblue !important;
  border-radius: 2px;
}

