<div class="profile-wrapper pt-1" >
  <h5>Welcome, Raymond!</h5>
  <h6>Check your progress below, keep it up!</h6>
  <div class="row justify-content-center">
    <div class="col-md-3 bg-white p-2 m-1 rounded" >
        <h5 class="black" >Speaking</h5>
        <app-line-chart></app-line-chart>
    </div>
    <div class="col-md-3 bg-white p-2  m-1 rounded">
        <h5 class="black">Writing</h5>
        <app-radar-chart></app-radar-chart>
    </div>

  </div>
  <div class="row justify-content-center rounded">
    <div class="col-md-3 bg-white p-2  m-1">
      <h5 class="black" >Reading</h5>
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-md-3 bg-white p-2  m-1 rounded">
        <h5 class="black" >Listening</h5>
      <app-bar-chart></app-bar-chart>
    </div>
  </div>

</div>
