<div class="profile-wrapper pt-5" >
  <div class="row justify-content-center">
    <div class="col-md-3 " >
      <div class="bg-white p-2 m-1 rounded">
          <h5 class="indigo" >Speaking</h5>
          <app-line-chart></app-line-chart>
      </div>
      <div class="bg-white p-2 m-1 rounded">
          <h5 class="indigo" >Reading</h5>
          <app-pie-chart></app-pie-chart>
        </div>
    </div>

    <div class="col-md-3" >
      <div class="profile-card bg-white rounded">
        <div class="cover blue-gradient" style="height: 90px"></div>
        <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/71678101_1734184443381259_9096775376134209536_o.jpg?_nc_cat=103&_nc_oc=AQk1oN2IIHHYikOAZ3DcSMuDKUQx5E8rFDjA9MeyzpUn6iinRTau-lu8wb7GbsY1Z-Q&_nc_ht=scontent-syd2-1.xx&oh=b7858dcbf9a9b2a5535c1d0d2d8a4fc5&oe=5E2C457B"
              class=" profile-img fluid rounded-circle bg-white hoverable p-1" width="90px" height="90px">
        <div class="profile-info px-3" style="color: black; text-align: left;" >
            <h4 class="text-center" >Raymond Tran</h4>
            <hr>
            <p><strong>Email:</strong> raymond@erayus.com</p>
            <p><strong>DOB:</strong> 30/02/1996</p>
            <p><strong>Member since:</strong> 20/10/2019</p>
        </div>
        <button class="btn btn-danger">Logout</button>
      </div>


    </div>


    <div class="col-md-3">
        <div class="bg-white p-2  m-1 rounded">
            <h5 class="indigo">Writing</h5>
            <app-radar-chart></app-radar-chart>
        </div>
        <div class="bg-white p-2  m-1 rounded">
            <h5 class="indigo" >Listening</h5>
          <app-bar-chart></app-bar-chart>
        </div>
    </div>


  </div>
  <div class="row justify-content-center rounded">


  </div>

</div>
